BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR NOT NULL, 
    password_hash VARCHAR NOT NULL, 
    full_name VARCHAR, 
    company VARCHAR, 
    role VARCHAR DEFAULT 'user' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    last_login TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE INDEX ix_users_email ON users (email);

CREATE TABLE model_versions (
    id UUID NOT NULL, 
    version VARCHAR NOT NULL, 
    n_clusters INTEGER, 
    features JSONB, 
    silhouette_score NUMERIC(5, 4), 
    training_rows INTEGER, 
    is_active BOOLEAN DEFAULT 'false' NOT NULL, 
    trained_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (version)
);

CREATE TABLE datasets (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    filename VARCHAR NOT NULL, 
    original_name VARCHAR NOT NULL, 
    file_size BIGINT, 
    row_count INTEGER, 
    columns JSONB, 
    status VARCHAR DEFAULT 'pending' NOT NULL, 
    error_msg TEXT, 
    upload_date TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE recommendations (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    dataset_id UUID, 
    season VARCHAR NOT NULL, 
    currency VARCHAR DEFAULT 'EUR' NOT NULL, 
    total_budget NUMERIC(12, 2), 
    clusters JSONB NOT NULL, 
    model_version VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(dataset_id) REFERENCES datasets (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

INSERT INTO alembic_version (version_num) VALUES ('0001') RETURNING alembic_version.version_num;

COMMIT;

